body {
    color: black;
    background-color: white;
    text-align: center;
}


#h2one {
    color: red;
}

#h2two {
    color: gold;
}

#h2three{
    color: green;
}

#h2four{
    color: blue;
}




